<h1><%= @message %></h1>

<p>Welcome to your match history irl <%= @summoner_name %>!</p>
<p>ID: <%= @champion %></p>

<ul>
	<% if @match_history.empty? %>
			<p> Derp. There are no matches! </p>
	<% else %>
			<li><%= "#{@match_history['#{@champion}']}: \n-------------------------\n" %> </li>
	<% end %>
</ul>